@require "../_/get"
@require "../_/media"
@require "../config/palette"
// @require "../_/vwScale"

$family = {
  monsal: {
    fontStack: 'monsal-gothic'\, sans-serif,
    weight: {
      normal: 300,
      bold: 700,
    },
  },
}


$typography = {
  body: {
    fontSize: 16px,
    lineHeight: (24 / 16),
    fontStack: get($family.monsal.fontStack),
    fontWeight: get($family.monsal.weight.normal),
    color: get($palette.global.body),
  },
  bold: {
    fontSize: 28px,
    lineHeight: (33 / 28),
    fontStack: get($family.monsal.fontStack),
    fontWeight: get($family.monsal.weight.bold),
    color: get($palette.global.body),
    textTransform: uppercase,
  },
}


Typography(opt)
  $t = $typography

  if opt is 'body'
    font-family: get($t.body.fontStack)
    font-weight: get($t.body.fontWeight)
    font-size: get($t.body.fontSize)
    line-height: get($t.body.lineHeight)
    color: get($t.body.color)

  else if opt is 'quote'
    font-family: get($t.body.fontStack)
    font-weight: get($t.body.fontWeight)
    font-size: 24px
    line-height: get($t.body.lineHeight)
    color: get($palette.global.primary)

  else if opt is 'header'
    font-family: get($t.bold.fontStack)
    font-weight: get($t.bold.fontWeight)
    font-size 36px
    line-height 46px
    color: get($palette.global.primary)

    +media('>=' 500)
      font-size 49px

  else
    error('No matching Typography found')



._typography-default
  Typography('body')

._typography-display
  Typography('header')
