// Variables
$<%= componentName %> = {}

// Dependencies
@require "../../_/get"
// @require "../../typography"
// @require "../../config/palette"

// Sub-components
// @require "../../atoms/SplashButton"


// Component Styles
.<%= componentName %>
  display block
