// Use: http://chir.ag/projects/name-that-color/#F9D5B4

@require "../_/get"

$COMP_SERV_PALETTE = {
  // Greys
  black: #000,
  mineShaft: #333,
  white: #FFF,

  // Colours
  java: #13d0ca,
}

// Labelled Colours
$palette = {
  white: get($COMP_SERV_PALETTE.white),
  mineShaft: get($COMP_SERV_PALETTE.mineShaft),

  global: {
    background: get($COMP_SERV_PALETTE.black),
    body: get($COMP_SERV_PALETTE.white),
    primary: get($COMP_SERV_PALETTE.java),
  },
}
