// Variables
$GWLogo = {}

// Dependencies
@require "../../_/get"
// @require "../../typography"
// @require "../../config/palette"

// Sub-components
// @require "../../atoms/SplashButton"


// Component Styles
.GWLogo
  display block
