@require "../typography/typography"
@require "../_/fontSmoothing"
@require "../config/palette"
@require "../_/get"


body
  Typography('body')
  fontSmoothing()
  margin 0
  padding 0
  background: get($palette.global.background)
